<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title || "TajerTrust" %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/scripts.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      darkMode: 'class',
    }
  </script>
</head>
<body class="flex flex-col min-h-screen bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-white transition-all duration-500">
<!-- NEW -->
<% if (!isAdmin) { %>
  <%- include('partials/horizontal_header', { user: user }) %>
<% } %>
<div class="flex flex-1"></div>
  <%- include(isAdmin ? 'partials/admin_header' : 'partials/header', { user: user }) %>
    <!-- <main class="pt-10 px-4 md:ml-64 transition-all">  -->
      <main id="mainContent" class=" pt-16 md:ml-64 p-4 transition-all"> 
    <%- body %>
  </main>
</div>

</body>
<%- include('partials/footer') %>
</html>
